<footer class="footer text-center bg-light">
  <div class="container">
    <div class="social-icons">
      <a href="https://twitter.com"> <i class="fa-brands fa-twitter"></i> </a>
      <a href="https://github.com" > <i class="fa-brands fa-github"></i> </a>
      <a href="https://instagram.com"> <i class="fa-brands fa-instagram"></i> </a>
      <a href="https://youtube.com"> <i class="fa-brands fa-youtube"></i> </a>
    </div>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <app-link router="/" text="Sobre"></app-link>
      </li>
      <li class="nav-item">
        <app-link router="/nos" text="Por que nós"></app-link>
      </li>
      <li class="nav-item">
        <app-link router="/about" text="Plataforma"></app-link>
      </li>
      <li class="nav-item">
        <app-link router="/about" text="Suporte"></app-link>
      </li>
    </ul>

    <div class="wrapper-logo">
      <img src="logo.svg" alt="">
    </div>
  </div>
</footer>
