a {
  padding: 0.2rem 0.5rem;
  display: inline-block;
  text-decoration: none;
  color: #444;
  border-radius: 5px;
  transition: all ease-in-out .2s;
}

a:hover {
  transform: scale(1.04);
  background-color: #dcdcdc;
}
